body{
    font-family: sans-serif;
    background-image: url(download.jpg);
    background-size: cover;
}

h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.contact{
    color: #fff;
    margin: 5% 0% 0% 20%;
}

img{
    padding: 0 0 0 15%;
    display: block;
    height: 15rem;
    width: auto;
}

.head h2{
    text-align: center;
    color: yellow;
    text-decoration-line: underline;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
    border: 1px solid white;
    border-color: #fff;
    border-radius: 2%;
}

.head{
    padding: 0 15% 0 15%;
}

#contact-inner{
    padding: 0;
}

span{
    font-size: 30px;
}

#body{
    border: 1px solid white;
    border-color: #fff;
    border-radius: 2%;
    padding: 1% 10% 11% 10%;
}

h3{
    padding: 0 0 0 13%;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(242, 255, 0);
}